<h3>Categorias:</h3>
<div class="card">
    <div class="body-card">
        {{#each categorias}}
        <a href="/categorias/{{slug}}"><h5>{{nome}}</h5></a>
        {{else}}
        {{/each}}
    </div>
</div>